body {
    /*background-color: rgb(30, 30, 30);*/
    background-color: rgb(30, 30, 30);
    color: rgb(230, 230, 230);
    margin: auto;
    position: relative;
    /*background-image: url("ic-n-bg/blackSpace.jpg");
    background-size: cover;
    background-attachment: fixed;*/
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.01;
    background-image: url("ic-n-bg/blackSpace.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.div-class {
    position: relative;
    margin: auto;
}

#pictures img {
    width: 25%;
    height: 50%;
    border-radius: 50%;
    margin: 15px;
    object-fit: cover;
    box-shadow: 5px 10px 14px 0px rgba(20, 20, 20, 1);
}

#pictures img:hover {
    box-shadow: 4px 8px 12px 0px rgba(200, 200, 220, 0.8);
    transition: 500ms ease;
}

#pictures {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px auto;
    max-width: 85%;
    justify-content: center;
}

h1 {
    text-align: center;
    margin: 0 auto 40px;
    padding-top: 40px;
    font-size: 5em;
    font-family: Satisfy, Cormorant Infant, Geneva;
    color: rgb(190, 180, 200);
}

p {
    text-align: center;
    margin: 50px auto 0;
    padding-bottom: 20px;
    color: rgba(130, 130, 130, 0.5);
    font-size: 0.5em;
}
